@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)




<html lang="en" ng-app="app">
<head>
<title>@message</title>
<base href="/">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="/assets/main.js"></script>
<script src="/assets/src/controllers.js"></script>
</head>
<body>

<div ng-view></div>

</body>
</html>